#container{
    width: 1760px;
    height: 700px;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -880px;
}


.content{
    width: 5760px;
    height: 700px;
    position: relative;
    left:50%;
    margin-left: -2880px;
}

a{
    float: left;
    width: 1920px;
    height: 700px;
}

img{
    width: 1920px;
    height: 700px;
}

#left{
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    cursor: pointer;
}
#right{
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
}

#left div{
    width: 40px;
    height: 64px;
    position: fixed;
    left: 30px;
    top: 318px;
    background: url("xuebi.png") no-repeat ;
    cursor: pointer;
}
#right div{
    width: 40px;
    height: 64px;
    position: fixed;
    right: 30px;
    top: 318px;
    background: url("xuebi.png") no-repeat 0 -75px;
    cursor: pointer;
}
#left:hover div{
    background: url("xuebi.png") no-repeat -45px 0;
}
#right:hover div{
    background: url("xuebi.png") no-repeat -45px -75px;
}